body {
	background-color: black;
}

.sidebar-content::-webkit-scrollbar {
    width: 1em;
}
 
.sidebar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
}
 
.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #404040;
  border: 1px solid #333;
  border-radius: 4px;
}

button:focus { 
	outline: none;
 }

input {
	border-radius: 4px;
	font-weight: bold;
}

ul {
	list-style-type: none;
	font-weight: bold;
	font-size: 14pt;
	padding-right:12px;
}

li { 
	cursor: pointer; 
	padding: 4px;
	border-radius: 4px;
}

#kenshi {
	 height: 800px;
	 width: 1500px;
	 background: #ffffff;
	 margin:auto;
	 border-radius: 10px;
	}

.centered {
	padding-right: 4px;
}

.sidebar-list {
	margin: 4px;
	padding: 2px;
}

.sidebar-list > li:hover {
	background-color: orange;
}
#coordsInput {
	padding: 20px;
}
#searchBtn {
	float:right;
	width: 30px;
	height:100%;
	margin-right: 10px;
}

#searchContainer {
	width: 180px;
	height:30px;
}

#searchContainer > input {
	width: 120px;
	padding:4px;
}

#searchBtn {
	background-color: blue;
	color:#fff;
}

#renameBtn {
	background-color: green;
	color:#fff;
}

#deleteBtn {
	background-color: red;
	color: #fff;	
}

#newName {
	width: 150px;	
}

#saveBtn {
	background-color: blue;
	color: #fff;	
}

#footer {
		background: #000000;
		color: #ffffff;
		line-height: 40px;
		height: 40px;
		margin-top: 100px;
		text-align:	center;
		font-size: 18px;
		opacity: .8;
		border-radius: 8px;
}

#home > p {
	font-size: 12pt;
}

.sidebar-content {
	color: #ffffff
}

.ref-marker {
	z-index: 50000;
}

.btn {
	border-radius: 6px;
	padding: 4px;
	margin: 0;
    
}

.leaflet-control-container {
	font-weight: bold;
	font-size: 12pt;
}

.leaflet-tooltip {
	font-size: 8pt;
}


.rounded {
    border-radius: 5px;
}

.hidden {
	display: none;
}

.options-header {
	text-align: center;
	height: 20px;
	line-height: 20px;
	background-color: #000000;
	color: #FFFFFF;
	border-radius:	8px;
	padding: 5px;
	opacity: .85;
}

.sidebar-pane >	h2, h3 {
	text-align: center;
	padding: 5px;
}

.unstyled {
	list-style-type: none;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input[type=checkbox] {
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  padding: 10px;
}

input[type=radio] {
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  padding: 10px;
}

/*
Dark color for sidebar

rgb(16,16,16, .90)
*/
